<template name="account_patient_allergies">
    <div class="col-xs-12">
        {{>account_patient_allergy_list}}
    </div>
</template>

<template name="account_patient_allergies_public">
    <div class="col-xs-12">
        {{>account_patient_allergy_list_public}}
    </div>
</template>


<template name="account_patient_new_allergy">
    <div class="col-xs-12 no-padd">
        <div class="col-sm-12 no-padd">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Allergy details
                    <i class="fa fa-plus pull-right" onclick="toggleElement('add_allergy')"></i>
                </div>
                <div class="panel-body no-display" id="add_allergy">
                    <form>
                        <div id="errorDiv"></div>
                        <input type="text" class="hidden" id="patientId" value={{sessionId}} >
                        <div class="form-group">
                            <label>Type</label>
                            <select type="text" class="form-control " id="type">
                                <option value="food">Food</option>
                                <option value="drugs">Drugs</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Particular</label>
                            <input class="form-control " id="particular" type="text">
                        </div>
                        <a class="btn btn-default" href="edit">Back</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="account_patient_allergy_list">

    <ul class="list-group top-20">
        <li class="list-group-item">
            <b class="_17 normal">Medical Conditions</b>
        </li>
        {{#each record}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-12">
                        <b class="normal">{{particular}}<br/><small>({{type}})</small></b>
                        <i class="fa fa-pencil-square-o pull-right" onclick="toggleElement('name_edit')"></i>
                        <i  class="fa fa-remove pull-right delete" id={{_id}}></i>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</template>


<template name="account_patient_allergy_list_public">
    <table class="table table-striped table-hover top-20">
        <thead>
        <tr>
            <th>Type</th>
            <th>Particular</th>
        </tr>
        </thead>
        <tbody>
        {{#each record}}
            <tr>
                <td>{{type}}</td>
                <td>{{particular}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>



<template name="account_patient_allergy_update">
    <div class="col-xs-12">
        <hr/>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Allergy details
                </div>
                <div class="panel-body">
                    <form>
                        <div id="errorDiv"></div>
                        <input type="text" class="hidden" id="patientId" value={{data._id}} >
                        <div class="form-group">
                            <label>Type</label>
                            <select type="text" class="form-control " id="type">
                                <option value="food">Food</option>
                                <option value="drugs">Drugs</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Particular</label>
                            <input class="form-control " id="particular" type="text" value={{data.particular}}>
                        </div>
                        <a class="btn btn-default" href="../edit">Back</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>