#telemed_controls{
    min-height: 70px;
    width: 100%;
    background-color: #333333;
}
#telemed_controls > i{
    font-size: 30px;
    color: gray;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

#telemed_controls > i:hover{
    color: dodgerblue;
}

#theirVideo{
    width: 100%;
    background-color: #333333;
    height: 100%;
    max-height: 70vh;
}
#myVideo{
    width: 100%;
    z-index: 9999999;
}
#myVideoFrame{
    position: absolute;
    width: 100px;
    bottom: 70px;
    left: 46%;
}

.chat_list{
    border: solid 1px lightgrey;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.bottom-dock{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    z-index: 9999999;
    left: 50px;
}

.bottom-dock2{
    position: fixed;
    bottom: 0px;
    left: 60px;
    width: 95%;
    height:auto;
    z-index: 9999;
}

.bottom-dock > .floating-links, .bottom-dock2 > .floating-links{
    padding: 1px;
    float: left;
    width: 20%;
    background-color: transparent;
    color: white;
}

.hide{
    visibility: hidden;
}
.top-dock{
    width: 100%;
    height:auto;
}
.top-dock > .floating-links{
    padding: 1px;
    float: left;
    width: 20%;
    background-color: transparent;
    color: white;
}



.window_panel{
    background-color: rgba(154,254,102,.7) !important;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 999999;
    display: none;
    padding: 5px 10px 50px 10px;
}

.window_panel_inner{
    background-color: rgba(250,250,250,.5);
    width: 100%;
    min-height: 95%;
    max-height: 95%;
    padding: 15px;
    height: auto;
    overflow-y: scroll ;
}

.half-opac{
    background-color: rgba(250,250,250,.5);
}

.half-opac-2{
    background-color: rgba(250,250,250,.2);
}

#panel_left1{
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 70vh;
    max-height: 70vh;
    overflow-y: hidden;
    z-index: 2222;
}

#panel_right{
    position: absolute;
    top: 0px;
    right:0px;
    min-height: 70vh;
    max-height: 70vh;
}
.transparent{
    background-color: rgba(111,111,111,0) !important;
}
.bgtrans{
    background-color: rgba(111,111,111,.6) !important;
}
.bgwhitetrans{
    background-color: rgba(250,250,250,.6) !important;
}

.greentrans{
    background-color: rgba(154,254,102,.6) !important;
}

.custom-button-green{
    background-color: #9AFE66;
    border:  none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.custom-button-green:hover{
    background-color: #9AFE66;
    border:  none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.hoverbrown{
    background-color: #669ACC;
    color: white;
}

.hoverbrown:hover{
    background-color: #993300 !important;
    color: white !important;
}

.hoverbrown{
    -webkit-transition: background-color .5s;
    -moz-transition:  background-color .5s;
    -ms-transition:  background-color .5s;
    -o-transition:  background-color .5s;
    transition:  background-color .5s;
}

.rotate {

    /* Safari */
    -webkit-transform: rotate(-30deg);

    /* Firefox */
    -moz-transform: rotate(-30deg);

    /* IE */
    -ms-transform: rotate(-30deg);

    /* Opera */
    -o-transform: rotate(-30deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.file-thumbnail{
    width: 100%;
    min-height: 200px;
    background-color: rgba(0,0,0,.3);
}

.custom-gray{
    color: #666666;
}

.custom-green{
    color: #1BD5B5;
}
.custom-blue{
    color: #669ACC;
}


/* TAB CSS */
.tab-container{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 40px;
}

ul.tabs{
    list-style-type : none;
    line-height : 40px;
    max-height: 60px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
ul.tabs > li{
    background-color: #1995DC;
    float: left;
    border-top-right-radius: 25px 170px;
    border-top-left-radius: 20px 90px;
    padding: 0px 30px 0px 25px;
    height: 200px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    width: 20%;
    margin: 10px -10px 0px;
}
ul.tabs > li.active {
    z-index: 2;
    background-color: rgba(154,254,102,.7) !important
}

ul.tabs > li.active > a{
    color: #1995dc !important;
}

ul.tabs > li > a{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: white;
    width: 170px;
    font-weight: bold;
    font-size: 12px;
}
ul.tabs > li > a:hover{
    cursor: hand;
}
.disabled{
    pointer-events:none;
    opacity:0.4;
}
.expandable {
    padding-left: 10px;
    padding-bottom: 20px;
    color: white;
}

/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }