<template name="account_doctor_education">

    <ul class="list-group top-30">
        <li class="list-group-item">
            <b class="_17 normal">Afiliations</b>
        </li>
        {{#each educations}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-12">
                        <b class="normal" >{{schoolName}}<br/><small>{{yearGraduated}}</small><br/><small>({{degree}})</small></b>
                        <i class="fa fa-pencil pull-right" id={{_id}} onclick="toggleElement('edit_diet')"></i>
                        <i class="fa fa-remove pull-right delete" id={{_id}}></i>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</template>

<template name="account_doctor_education_public">
    <div class="table-responsive">
        <table class="table table-striped table-hover top-20">
            <thead>
            <tr>
                <th>School Name</th>
                <th>Year Graduated</th>
                <th>Degree Earned</th>
            </tr>
            </thead>
            <tbody>
            {{#each educations}}
                <tr>
                    <td>{{schoolName}}</td>
                    <td>{{yearGraduated}}</td>
                    <td>{{degree}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>


<template name="education_form">
    <div class="col-xs-12 no-padd">
        <div class="col-xs-12 no-padd">
            <div class="panel panel-default top-20">
                <div class="panel-heading">
                    Education Form
                    <i class="fa fa-plus pull-right delete" id={{_id}} onclick="toggleElement('add_education')"></i>
                </div>
                <div class="panel-body no-display" id="add_education">
                    <form>
                        <div id="errorDiv"></div>
                        <div class="form-group">
                            <label>School Name</label>
                            <input type="text" id="doctorId" class="hidden" value={{sessionId}}>
                            <input type="text" id="schoolname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Year Graduated</label>
                            <input type="date" id="yeargraduated" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Degree Earned</label>
                            <input type="text" id="degree" class="form-control">
                        </div>
                        <a href="/physicianprofile/edit" class="btn btn-default">Back</a>
                        <button class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="doctor_education_update">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default top-20">
            <div class="panel-heading">
                New Procedure
            </div>
            <div class="panel-body">
                <form>
                    <div id="errorDiv"></div>
                    <div class="form-group">
                        <label>School Name</label>
                        <input type="text" id="educId" class="hidden" value={{education._id}}>
                        <input type="text" id="schoolname" class="form-control" value={{education.schoolName}}>
                    </div>
                    <div class="form-group">
                        <label>Year Graduated</label>
                        <input type="date" id="yeargraduated" class="form-control" value={{formatDate education.yearGraduated}}>
                    </div>
                    <div class="form-group">
                        <label>Degree Earned</label>
                        <input type="text" id="degree" class="form-control" value={{education.degree}}>
                    </div>

                    <a href="/physicianprofile/edit" class="btn btn-default">Back</a>
                    <button class="btn btn-primary">Save</button>

                </form>
            </div>
        </div>
    </div>
</template>

<template name="modal">
    <div id="fff" class="modal fade" tabindex="-1" role="dialog" aria-labelledby=""  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    Educational Background Entry Form
                </div>
                <div class="modal-body">
                        {{#each rec}}
                                {{name}}
                            {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>
