
.profileThumb2{
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px #A4A4A4;
}
.profileThumb img {
    max-width: 100px;
}
.profileThumb2 img{
    max-width: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.profileThumb2 > .name{
    margin-top:5px;
    color: gray;
    font-size: 18px;
    font-weight: normal;
}
.profileThumb2 > .spec{
    color: dodgerblue;
    font-size: 14px;
    font-weight: bold;
}
.top-20{
    margin-top:20px;
}
.top-10{
    margin-top:10px;
}
.top-5{
    margin-top:5px;
}
.bottom-20{
    margin-bottom:20px;
}
.no-padd{
    padding:0px;
}
.no-radius{
    border-radius:0px;
}
.profileSection{
    padding: 20px;
    border: 1px solid lightgray;
}
.green{
    color: dodgerblue;
}
.fgreen{
    color: forestgreen;
}
.profileSection{
    border: solid 1px  lightgrey;
    border-radius: 5px;
    -weblit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.header a{
    font-size: 17px;
    color: #666666;
    cursor: pointer;
}

.searchbar>label{
    color:#007FA6;
}

hr{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    color: green;
    border-bottom: 1px solid #DDDDDD;
}

.label{
    font-weight: normal !important;
    font-size: 15px;
    color: #444;
}

.searchfield{
    max-width: 300px;
    width: 100%;
    font-size: 20px;
}
.carousel{
    position: relative;
}

.blue h1, .blue p{
    color: #337AB7 !important;
}
.blue{
    margin-top:50px;
    margin-bottom: 50px;
}




.intro{
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    background-image: url(../../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100vh;

}
.intro-body{
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(12, 112, 167,0.7);
    text-align: center;
}

.topbar{
    padding: 10px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}

.topbar{
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.avatar-thumb{
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: solid 3px #7DC1D9;
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255,1);
    margin: 0 auto;
    z-index: 8888;
    cursor: pointer;
}
.avatar-thumb>img{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 5000;
}
.avatar-thumb > .description{
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 294px;
    height: 294px;
    background-color: rgba(224,234,243,.9);
    margin: 0 auto;
    z-index: 9999;
    overflow: hidden;
    padding: 50px;
    text-align: left;
    opacity: 0;
}

.avatar-thumb:hover > .description{
    opacity: 1;
}

.description{
    -webkit-transition: opacity .5s ;
    -moz-transition: opacity .5s ;
    transition: opacity .5s ;
}


@media(max-width:768px) {
    .topbar{
        width: 100%;
        padding: 10px;
        background-color: transparent;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.mybody{
    margin: 0 auto;
    height: auto;
    max-width: 1024px;
}
.mybody-content{
    width: 100%;
    height: auto;
    padding: 50px 10px 50px 10px;

}

.underline{
    margin: 0 auto;
    min-width: 200px;
    background-color: #0099FF;
    min-height: 5px;
    max-width: 200px;
    max-height: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.mybody img{
    display: block;
    margin: 0 auto;

}
#team{
    background-image: url("/images/bg-heartrate.gif");
    background-position: center;
    background-repeat: repeat-x;
    background-color: #E0EAF3;
}

#registration{

}

.right-10{
    margin-right: 10px;
}
#social1{
    width: 32px;
    height: 33px;
    background: url('/images/social.gif') 0 0;
}
#social1:hover{
    background: url('/images/social.gif') 0 -33px;
}

#social2{
    width: 32px;
    height: 33px;
    background: url('/images/social.gif') -32px 0;
}
#social2:hover{
    background: url('/images/social.gif') -32px -33px;
}
#social3{
    width: 32px;
    height: 33px;
    background: url('/images/social.gif') -64px 0;
}
#social3:hover{
    background: url('/images/social.gif') -64px -33px;
}
#social>li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;

}
.full-height{
    min-height: 100vh;
}

.form-control{
    border: 2px solid #F2F2F2 !important;
}
.login {
    max-width: 400px;
    height: auto;
    width: 400px;
    margin: 0 auto;
}
.popup-suggestion{
    position: absolute;
    bottom: -30px;
    width: inherit;
    height: auto;
    padding: 10px 5px;
    background-color: white;
}
.large-radio{
    min-width: 60px;
    min-height: 60px ;
}
.round-pills > li > a{
    border-radius: 50%;
    background-color: #336799;
    font-size: 40px;
    width: 80px;
    height: 80px;
    font-weight: bold;
    color: white;
    margin: 0 auto;
}

.round-pills > li > a:hover,.round-pills > li.active > a, .round-pills > li.active > a:hover, .round-pills > li.active > a:link, .round-pills > li.active > a:visited{
    background-color: #FA8633;
}

.round-pills > li{
    padding-right: 85px;
    padding-top: 60px;
}

.round-pills {
    padding-left: 285px;
}

.step-text {
    color: #336799;
    font-weight: bolder;
}
.step-page{
    background-color: #F8F8F8;
}